{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}
    <div class="container mt-5">
    <h2 class="text-center">EDIT PROFILE</h2>
        <div class="text-center">
            <i class="bi bi-person-circle" style="font-size: 100px; color:black;"></i>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>FirstName</label>
                        <input type="text" class="form-control" value="{{ data.user.first_name }}" name="firstname">
                    </div>
                    <div class="form-group col-md-6">
                        <label>LastName</label>
                        <input type="text" class="form-control" value="{{ data.user.last_name }}" name="lastname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Email ID</label>
                        <input type="email" class="form-control" value="{{ data.user.username }}" name="emailid" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Contact</label>
                        <input type="text" class="form-control" value="{{ data.contact}}" name="contact">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Branch</label>
                        <select class="form-control" name="branch">

                            <option value="Select">Select Branch</option>
                            <option value="Computer Science">Computer Science</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                            <option value="Civil">Civil</option>
                            <option value="Mechanical">Mechanical</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 mt-2">
                        <br>
                        <input type="text" value="{{ data.branch }}" class="form-control" readonly>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Designation</label>
                        <select class="form-control" name="designation">
                            <option value="Select">Select Designation</option>
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6 mt-2">
                        <br>
                        <input type="text" value="{{ data.Designation }}" class="form-control" readonly>
                    </div>

                </div>

               <div class="text-center mt-3">
                   <input type="submit" value="UPDATE" class="btn btn-primary mt-4">
               </div>



            </form>
            </div>

        </div>





    </div>
    {% if error %}
    <script>
    alert("Profile Updated Successfully");
    window.location="{%  url 'profile' %}";
    </script>
    {% endif %}


{% endblock %}

