{% extends 'navigation.html' %}
{% load static %}
{% block body %}
{% if error == "no" %}
    <script>
        alert("Signup Successful!");
        window.location = '{% url "login" %}';
    </script>
    {%  endif %}
{%if error == "yes" %}
    <script>
        alert("Something went wrong. Please check your details and try again.");
    </script>
{% endif %}


    <div class="container mt-5" style="background-color:whitesmoke">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">EXISTING CUSTOMERS</h2>
            <HR>
            <p>By Creating an account with our website , you will be able to move through the notes upload  and downloading process and more...</p>
            <center><a href="{% url 'login' %}" class="btn btn-danger text-white mt-5">CREATE AN ACCOUNT</a></center>
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">REGISTER WITH US</h2>
            <HR>
            <p>If you not have an account with us, Please signup.....</p>
            <form method="post">
                {% csrf_token %}
                <label>FirstName</label>
                <input type="text" class="form-control" placeholder="Enter FirstName" name="firstname">
                <label>LastName</label>
                <input type="text" class="form-control" placeholder="Enter LastName" name="lastname">
                <label>Contact</label>
                <input type="text" class="form-control" placeholder="Enter Contact Number " name="contact">
                <label>Email ID</label>
                <input type="email" class="form-control" placeholder="Enter Your Email Id" name="emailid">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="password">
                <label>Branch</label>
                <select class="form-control" name='branch'>
                    <option value="Select">Select Branch</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="Civil">Civil</option>
                    <option value="Mechanical">Mechanical</option>
                </select>
                <label>Designation</label>
                  <select class="form-control" name="designation">
                      <option value="Select">Select Designation</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>

                  </select>
                <input type="submit" class="btn btn-danger mt-4" value="SUBMIT">


            </form>


        </div>

    </div>

    </div>




{% endblock %}

